<!-- Toggle Theme Button -->
<mat-slide-toggle class="toggle-container" (change)="toggleTheme()">
  {{ darkThemeEnabled ? 'Włącz motyw jasny' : 'Włącz motyw ciemny' }}
</mat-slide-toggle>
<table [ngClass]="{'dark-theme': darkThemeEnabled}">
  <thead app-table-header></thead>
  <tbody>
    <ng-container *ngFor="let group of groupedOrders">
      <tr>
        <td (click)="toggleOrders(group)">
          <span *ngIf="!group.showOrders">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
          <span *ngIf="group.showOrders">
            <mat-icon>keyboard_arrow_up</mat-icon>
          </span>
          {{ group.symbol }} <span matBadge="{{ group.orders.length }}" matBadgeColor="primary" matBadgeSize="small"
            matBadgeOverlap="false" matBadgePosition="above">{{
            group.symbol }}</span>
        </td>
        <td></td>
        <td></td>
        <td>{{ group.size}}</td>
        <td></td>
        <td>{{ group.openPrice }}</td>
        <td>{{ group.swap.toFixed(2) }}</td>
        <td>{{ group.profit.toFixed(2) }}</td>
        <td><mat-icon (click)="removeGroup(group.symbol)">delete_sweep</mat-icon></td>
      </tr>
      <ng-container *ngFor="let order of group.orders">
        <tr *ngIf="group.showOrders" app-table-orders [order]="order" [group]="group"
          (removeOrder)="removeOrder($event)">
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>