table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(233, 237, 241);
  color: rgb(14, 15, 26);

  thead {
    background-color: rgb(220, 225, 229);
  }

  tbody {
    tr {
      background-color: rgb(220, 225, 229);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgb(201, 209, 216);
      }
    }

    .positive-profit {
      color: rgb(60, 193, 149);
    }

    .negative-profit {
      color: rgb(249, 76, 76);
    }
  }

  td .action-icon {
    cursor: pointer;
    color: rgb(14, 15, 26);
  }
}

table.dark-theme {
  background-color: rgb(42, 56, 71);
  color: rgb(198, 210, 219);

  thead {
    background-color: rgba(14, 15, 26, 0.25);
  }

  tbody {
    tr {
      background-color: rgba(14, 15, 26, 0.25);

      &:hover {
        background-color: rgba(53, 71, 89, 0.5);
      }
    }

    .positive-profit {
      color: rgb(60, 193, 149);
    }

    .negative-profit {
      color: rgb(249, 76, 76);
    }
  }

  td .action-icon {
    color: rgb(198, 210, 219);
  }
}
